## Question 1
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] ) 
• Print all elements from my_tuple on a new line (using for loop) 
• Create a new tuple by concatenating the first and last elements of my_tuple

In [1]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )

for element in my_tuple:
    print(element)

new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print("\nNew tuple:", new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

New tuple: (1, 2, 3, 7, 8, 9)

## Question 2
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, } • Add a new book in inventory using method and get all book titles using method
• Remove a book if it's out of stock

In [2]:
inventory = {"The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, 
             "Harry Potter": {"price": 12.50, "quantity": 2}}

new_book = {"Python": {"price": 18, "quantity": 0}}
inventory.update(new_book)

print("All books:", inventory)
print("\nAll books titles:", inventory.keys())

keys_to_del = []

for key, value in inventory.items():
    if not value['quantity'] > 0:
        keys_to_del.append(key)

for key in keys_to_del:
    del inventory[key]

print("\nBooks in stock:", inventory)

All books: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'Python': {'price': 18, 'quantity': 0}}

All books titles: dict_keys(['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'Python'])

Books in stock: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}}

## Question 3
An ecommerce store stores information about its products in a nested dictionary. The outer
dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
category, price, and stock quantity.
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102:
{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
"category": "Home Appliances", "price": 80, "stock": 30} } • Increase the stock of the "Shirt" product (add 50 more units) • Add a new product (e.g., "Smartphone")

In [3]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
            102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
            103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

for key, value in products.items():
    if value["name"].lower() == "shirt":
        products[key]["stock"] += 50

print('Increased "Shirt" stock:', products)

new_product = {104: {"name": "Smartphone", "category": "Electronics", "price": 800, "stock": 3}}

products.update(new_product)
print("\nAdded a new product: ",products)

Increased "Shirt" stock: {101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}

Added a new product:  {101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 3}}

## Question 4
You are given a list that contains some duplicate items. Remove the duplicates by converting the
list to a set.
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [4]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

shopping_set = set(shopping_list)
print(shopping_set)

{'banana', 'orange', 'grape', 'apple'}

## Question 5
You are managing a list of students enrolled in two different courses. You need to perform
various set operations to understand the student enrollment. Task: Create two sets: one for students
in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in
"Course B" (difference). Find students who are only in one of the two courses (symmetric
difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie",
"David"}

In [5]:
course_a = {"John", "Alice", "Bob", "David"} 
course_b = {"Alice", "Eve", "Charlie", "David"}

set1 = course_a.difference(course_b)
set2 = course_a.symmetric_difference(course_b)

print("Difference:", set1)
print("Symmetric difference:", set2)

Difference: {'John', 'Bob'}
Symmetric difference: {'John', 'Bob', 'Charlie', 'Eve'}

## Question 6
Write a Python program that calculates the sum of all even numbers between 1 and 50
(inclusive) using a for loop.

In [6]:
sum_of_evens = 0

for num in range(1,51):
    if num % 2 == 0:
        sum_of_evens += num

print("Sum of evens (1-50):", sum_of_evens)

Sum of evens (1-50): 650

## Question 7
Write a Python program that prints the multiplication table for a given number (between 1 and
10) using a for loop.

In [7]:
given_number = int(input("Enter a number between 1 and 10 to print its table:"))

if (given_number >= 1 and given_number <= 10):
    for integer in range(1,11):
        print(f"{given_number} x {integer} = {given_number*integer}")
else:
    print("Invalid number!")

Enter a number between 1 and 10 to print its table: 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Question 8
Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1
to 10) using a while loop.

In [8]:
given_number = int(input("Enter a number to print its powers:"))

power = 1

while power <= 10:
    print(f"{given_number} ^ {power} = {given_number**power}")
    power += 1

Enter a number to print its powers: 4

4 ^ 1 = 4
4 ^ 2 = 16
4 ^ 3 = 64
4 ^ 4 = 256
4 ^ 5 = 1024
4 ^ 6 = 4096
4 ^ 7 = 16384
4 ^ 8 = 65536
4 ^ 9 = 262144
4 ^ 10 = 1048576

## Question 9
Problem Statement: Write a Python program that takes an integer input from the user and
counts down from that number to 0. The program should display the current number at each step
until it reaches 0, at which point it should print a message indicating the countdown is finished

In [9]:
countdown_number = int(input("Enter a number to start the countdown:"))

while countdown_number >=0:
    print(countdown_number)
    countdown_number -= 1

print("\nCountdown finished!")

Enter a number to start the countdown: 6

6
5
4
3
2
1
0

Countdown finished!

## Question 10
Write a Python program that takes an integer input n from the user and generates a rightangled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2
stars, the third row 3 stars, and so on until the nth row.
Ensure the stars in each row are separated by spaces, and each row starts on a new line.

In [10]:
n = int(input("Enter a number to generate pattern of stars:"))

for i in range(1,n+1):
    print(i * "* ")

Enter a number to generate pattern of stars: 4

*
* *
* * *
* * * *